html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-weight: bolder;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}
.b {
  list-style-type: lower-greek;
}

.a {
  list-style: none;
}

a,
a:first-child {
  color: #8f2440;
  font-weight: bolder;
  font-family: "PT Sans", sans-serif;
  text-decoration: inherit;
  font-size: 1.125rem;
  line-height: 1.5;
}

a:hover {
  color: #3f1622;
  text-decoration: inherit;
}

p time {
  font-size: 1.5rem;
}

ul {
  list-style-type: circle;
}

small {
  font-size: 0.8rem;
}
