html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-weight: bolder;
  color: #3f1622;
  font-size: 2rem;
}

header ol {
  list-style: none;
}
ol li {
  list-style-type: lower-greek;
}
img {
  width: 100%;
}
