html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-weight: bolder;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}
a,
a:first-child {
  color: #8f2440;
  font-weight: bolder;
  font-family: "PT Sans", sans-serif;
  text-decoration: inherit;
  font-size: 1.125rem;
  line-height: 1.5;
}
